# Config file for Digital Report Generation with respect to the measurement procedure and software associated with QMA A_011203
[Client]
ClientID = W003-E2-M-N58

[QM]
1 = A_011203

[Users]
1 = matus
2 = premper
3 = zelenkaz

[matus]
name = Michael Matus
email= michael.matus@bev.gv.at

[premper]
name = Jörg Premper
email= joerg.premper@bev.gv.at

[zelenkaz]
name = Zsolt Zelenka
email= zsolt.zelenka@bev.gv.at

# Hexadecimal iteration for IDs
[MeasurementDevices]
# Normal Measurment Devices
1 = MD000001
2 = MD000002
# Examinee Measurement Devices
3 = MD800000

[MD000001]
name = 10267 (KOBA)
# optional
mmdb = 0

[MD000002]
name = Vaisala HMT330 F5040111
# optional
mmdb = 0

# Insert data for first examinee/customer device here
[MD800000]
name = 0
# optional
mmdb = 0

# Hexadecimal iteration for IDs
[InfluenceConditions]
1 = IC000001
2 = IC000002
3 = IC000003

[IC000001]
label = air_temperature_laboratory
langDE = Lufttemperatur - Labor
unit = _degreecelsius
decimalPositions = 2
type = float

[IC000002]
label = temperature_drift
langDE = Temperatur-Drift
unit = _degreecelsius
decimalPositions = 2
type = float

[IC000002]
label = air_humidity_laboratory
langDE = Luftfeuchte - Labor
unit = _percentage
decimalPositions = 2
type = float

# Hexadecimal iteration for IDs
[TimeStampFormat]
1 = TS000001

[TS000001]
format = String
langDE = UTC Zeitstempel im Unix Epoch Format für Millisekunden
description = Unix Epoch in ms 

# Hexadecimal iteration for IDs
[MeasurementParameters]
1 = MP000001
2 = MP000002
3 = MP000003
4 = MP000004
5 = MP000005
6 = MP000006
7 = MP000007
8 = MP000008
9 = MP000009
10 = MP00000A
11 = MP00000B
12 = MP00000C
13 = MP00000D
14 = MP00000E
15 = MP00000F
16 = MP000010
17 = MP000011
18 = MP000012
19 = MP000013

[MP000001]
label = nominal_length
langDE = Nennlänge
unit = _milli_meter
decimalPositions = 0
type = float

[MP000002]
label = deviation_normal
langDE = Abweichung, Normal
unit = _micro_meter
decimalPositions = 3
type = float

[MP000003]
label = flattening_correction
langDE = Abplattungskorrektur
unit = _micro_meter
decimalPositions = 3
type = float

[MP000004]
label = material_examinee
langDE = Material, Prüfling
label = _none
type = string

[MP000005]
label = material_normal
langDE = Material, Normal
label = _none
type = string

[MP000006]
label = temperature_examinee
langDE = Temperatur, Prüfling
unit = _degreecelsius
decimalPositions = 3
type = float

[MP000007]
label = temperature_normal
langDE = Temperatur, Normal
unit = _degreecelsius
decimalPositions = 3
type = float

[MP000008]
label = alpha_examinee
langDE = alpha, Prüfling
unit = _partspermillion_kelvin_tothe{1}
decimalPositions = 1
type = float

[MP000009]
label = alpha_normal
langDE = alpha, Normal
unit = _partspermillion_kelvin_tothe{1}
decimalPositions = 1
type = float

[MP00000A]
label = temperature_correction
langDE = Temperaturkorrektur (errechnet)
unit = _micro_meter
decimalPositions = 3
type = float

[MP00000B]
label = measurement_cycles_center_dimension
langDE = Messzyklen (Mittenmaß)
unit = _none
decimalPositions = 0
type = float

[MP00000C]
label = measurement_cycles_deviation_margin
langDE = Messzyklen (Abweichungsspanne)
unit = _none
decimalPositions = 0
type = float

[MP00000D]
label = measurement_cycle_timeout
langDE = Wartezeit
unit = _second
decimalPositions = 0
type = float

[MP00000E]
label = button_stroke_time
langDE = Tasterhubzeit
unit = _second
decimalPositions = 0
type = float

[MP00000F]
label = threshold_center_dimension
langDE = Grenzwert (Mittenmaß)
unit = _nano_meter
decimalPositions = 0
type = float

[MP000010]
label = threshold_deviation_margin
langDE = Grenzwert (Abweichungsspanne)
unit = _nano_meter
decimalPositions = 0
type = float

[MP000011]
label = correction_factor_button_a
langDE = Korrekturfaktor Taster A (oben)
unit = _none
decimalPositions = 4
mulitplicator= _ten_tothe{1}
type = float

[MP000012]
label = correction_factor_button_b
langDE = Korrekturfaktor Taster B (oben)
unit = _none
decimalPositions = 4
mulitplicator= _ten_tothe{1}
type = float

[MP000013]
label = measurement_value_integration_time
langDE = Messwertintegrationszeit
unit = _second
decimalPositions = 4
type = float

# Hexadecimal iteration for IDs
[MeasurementValues]
1 = MV000001
2 = MV000002
3 = MV000003

# per RFC822 standard values can be split by lines started by tabs
# rows set to 0 means that the amount of rows in a table is not limited
[MV000001]
label = measurement_values_center_dimension
langDE = Mittenmaß
rows = 0
columns = 6
format = table
decimalPositions = 0
tableLabels =
    N 
    P 
    P 
    N
    Drift
    P-N
tableUnits = 
    _nano_meter
    _nano_meter
    _nano_meter
    _nano_meter
    _nano_meter
    _nano_meter

tableValueType = 
    float
    float
    float
    float
    float
    float

[MV000002]
label = measurement_values_center_dimension_evaluation
langDE = Mittenmaß - Statistische Auswertung
rows = 0
columns = 6
format = table
decimalPositions = 1
tableLabels =
    Mittel(P-N) 
    Sigma
    Span/Range 
    
tableUnits = 
    _nano_meter
    _nano_meter
    _nano_meter

tableValueType = 
    float
    float
    float

[MV000003]
label = five_point_measurement
langDE = 5-Punkt-Messung
rows = unlimited
columns = 4
format = table
decimalPositions = 0
A = oben links
B = oben rechts
C = unten links
D = unten rechts
M = zentriert
tableLabels =
    Reference
    Reference Length
    Sigma
    Span/Range 
    
tableUnits = 
    _none
    _nano_meter
    _nano_meter
    _nano_meter

tableValueType =
    string
    float
    float
    float

# Hexadecimal iteration for IDs
[MeasurementResults]
1 = MR000001
2 = MR000002
3 = MR000003
4 = MR000004
5 = MR000005
6 = MR000006

[MR000001]
label = center_to_center_deviation
langDE = Mittenmaßabweichung
abbreviation = f_c
unit = _micro_meter
decimalPositions = 3
type = float

[MR000002]
label = deviation_margin
langDE = Abweichungsspanne
abbreviation = v
unit = _micro_meter
decimalPositions = 3
type = float

[MR000003]
label = lower_deviation
langDE = untere Abweichung
abbreviation = f_u
unit = _micro_meter
decimalPositions = 3
type = float

[MR000004]
label = upper_deviation
langDE = obere Abweichung
abbreviation = f_o
unit = _micro_meter
decimalPositions = 3
type = float

[MR000005]
label = max_deviation
langDE = maximale Abweichung
abbreviation = f_max
unit = _micro_meter
decimalPositions = 3
type = float

[MR000006]
label = center_to_center_dimension
langDE = Mittenmaß - Referenz für Mittelabweichung?
abbreviation = _none
unit = _milli_meter
decimalPositions = 6
type = float

