<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GBC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <GBC.Properties.Settings>
            <setting name="Loops" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Loops5Point" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SettlingTime" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="OutlierThreshold" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="OutlierThreshold5Point" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="LogDirectory" serializeAs="String">
                <value>c:\temp\</value>
            </setting>
            <setting name="ComPortMillitron" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="IPEnvironment" serializeAs="String">
                <value>10.10.10.98</value>
            </setting>
            <setting name="ComPortConrad" serializeAs="String">
                <value>COM12</value>
            </setting>
            <setting name="ChannelConrad" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LiftDelay" serializeAs="String">
                <value>1000</value>
            </setting>
        </GBC.Properties.Settings>
    </applicationSettings>
</configuration>